        <section class="modelos" id="modelos">
            <div class="nuestroModelos">              
                <h4 class="h4 display-5 text-white">Nuestros modelos</h4>
                  <div class="galeriaModelos">
                  <div class="fichaTecnica">
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/focus1.png');">
                    <h4 class="display-6 text-white p-3">Focus</h4>
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/ecosport1.png');">
                    <h4 class="display-6 text-white p-3">Ecosport</h4>
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/fiesta1.png');">
                    <h4 class="display-6 text-white p-3">Fiesta</h4>
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/mustang1.png');">
                    <h4 class="display-6 text-white p-3">Mustang</h4>
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/f150-2.png');">
                    <h4 class="display-6 text-white p-3">F-150</h4>
                  </div>
                  <div class="tarjeta" style="background-image: url('ImagenesS1/ranger.png');">
                    <h4 class="display-6 text-white p-3">Ranger</h4>
                  </div>
                  <div class="tarjetaDescripcion" >
                    <h4 class="display-5 tarjetaDescripcion--Titulo">Ford Focus</h4>
                    <hr>
                    <div class="d1">
                      <img src="" alt="" class="d1--img">
                    </div>
                    <div class="d2">                      
                      <img src="" alt="" class="d2--img">
                    </div>
                    <hr>
                    <div class="d3">
                    </div>
                    <hr>
                    <div class="coloresAuto">
                      <div class="coloresAuto--div">
                        <img class="coloresAuto--div__foto" src="ImagenesS1/focus/Azul Aurora.jpg" alt="">
                      </div>
                      <div class="coloresAuto--txt">
                        <h5>Colores disponibles</h5>
                        <div class="coloresAuto--txt__colores">                        
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <script>
          document.getElementById('modelos').scrollIntoView(); 
        </script>
        

        