        <section class="nosotros" id="nosotros">
            <div class="nosotros-div">
              <div class="nosotros-texto">
                <h4 class="display-5">Quiénes somos</h4>
                <p>Somos un Concesionario Oficial Ford, líder e innovador en el mercado, con más de 10 años de experiencia y trayectoria. <br>
                  Con imponentes salones de venta y áreas posventa con tecnología de vanguardia para brindar a tu Ford la mejor atención, calidad y servicio. Somos service oficial de la marca, brindamos atención integral en servicios, venta de accesorios y repuestos originales Ford Motorcraft.
                  Seguimos liderando el ranking de Plan Óvalo a nivel nacional, en suscripciones.</p>
              </div>
              <div class="nosotros-foto">
                <img src="ImagenesS1/edificio.jpg" alt=""class="nosotros-img der">
              </div>
            </div>
            <div class="nosotros-div">
              <div class="nosotros-foto">
                <img src="ImagenesS1/interior.jpg" alt="" class="nosotros-img">
              </div>
              <div class="nosotros-texto">
                <h4 class="display-5">Nuestras instalaciones</h4>
                <ul>
                  <li><i class="fa-regular fa-circle-check icono"></i>3 salones de venta de 0km</li>
                  <li><i class="fa-regular fa-circle-check icono"></i>2 Centros Integrales de Postventa</li>
                  <li><i class="fa-regular fa-circle-check icono"></i>30.000 m2. de superficie para el desarrollo del negocio</li>
                  <li><i class="fa-regular fa-circle-check icono"></i>Centros de atención certificados según norma Ford Trust Mark</li>
                </ul>
              </div>              
            </div>
            <div class="nosotros-div">
              <div class="nosotros-texto">
                <h4 class="display-5">Misión y Vision</h4>
                <p>Aportar el mayor esfuerzo, compromiso y responsabilidad para ofrecer al cliente la mejor experiencia de compra de su vehículo o servicio, logrando su confianza y recomendación. <br>
                  Ser un concesionario líder e innovador en el sector, manteniéndose en constante crecimiento y desarrollo, conformado por un equipo de profesionales que brinde un servicio de calidad a los clientes, logrando sentirse orgulloso de estar haciendo el mejor trabajo posible.</p>
              </div>
              <div class="nosotros-foto">
                <img src="ImagenesS1/ford-mision.jpg" alt="" class="nosotros-img der">
              </div>
            </div>
        </section>
        <script>
          document.getElementById('nosotros').scrollIntoView(); 
        </script>